APP_ENV=local
APP_DEBUG=true
APP_KEY=dev
APP_TIMEZONE=Asia/Jakarta
APP_URL=

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=dockertest
DB_USERNAME=dev
DB_PASSWORD=ved

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_DRIVER=redis
QUEUE_DRIVER=sync

CACHE_PREFIX=dockertest

APP_PORT=5500
MYSQL_PORT=33086

CHANNEL_ACCESS_TOKEN=
CHANNEL_SECRET=